body {
  margin: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  box-sizing: border-box;
  overflow: overlay;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.main-header {
  color: #ffffff;
  background-color: #f2f6f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container-1 {
  width: 100%;
  font-size: 17px;
  color: #ffffff;
  background-color: #293449;
}

.header-navigation {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-logo-index-header {
  margin-left: -5px;
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  padding-left: 55px;
  padding-top: 13px;
  padding-right: 56px;
  padding-bottom: 15px;
}

.main-logo-header {
  margin-left: -5px;
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.main-logo-header img {
  margin-top: 13px;
  margin-left: 55px;
  margin-right: 170px;
}

.main-logo-header:hover {
  color: #f5d7d9;
  background-color: #ca2c37;
}

.main-logo-header:focus,
.main-logo-header:active {
  color: #e3a6ab;
  background-color: #ba2732;
}

.navigation-header-form {
  position: relative;
  height: 42px;
  top: -17px;
}

.header-search input::placeholder {
  color: #ffffff;
}

.header-search input {
  color: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: content-box;
  width: 204px;
  height: 42px;
  padding-left: 49px;
  padding-right: 15px;
  background-image: url("../img/icon-search-gray.svg");
  background-repeat: no-repeat;
  background-position: 14px 16px;
}

.header-search {
  width: 270px;
}

.header-search input:hover {
  color: #ffffff;
  background-color: #212a3a;
  background-image: url("../img/icon-search-white.svg");
  background-repeat: no-repeat;
  background-position: 17px 13px;
}

.header-search input:focus::placeholder {
  color: #000000;
  background-color: #ffffff;
}

.header-search input:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icon-search-red.svg");
  background-repeat: no-repeat;
  background-position: 17px 13px;
  opacity: 1;
}

.header-search input:active {
  color: #000000;
  background-color: #ffffff;
}

.header-search input::-webkit-input-placeholder {
  color: #ffffff;
}

.header-search input:focus::-webkit-input-placeholder {
  color: #000000;
}

/* Firefox < 19 */
.header-search input:-moz-placeholder {
  color: #ffffff;
}

.header-search input:focus:-moz-placeholder {
  color: #000000;
}

/* Firefox > 19 */
.header-search input::-moz-placeholder {
  color: #ffffff;
}

.header-search input:focus::-moz-placeholder {
  color: #000000;
}

/* Internet Explorer 10 */
.header-search input:-ms-input-placeholder {
  color: #ffffff;
}

.header-search input:focus:-ms-input-placeholder {
  color: #000000;
}

.navigation-list,
.get-order {
  display: flex;
  width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-list a,
.get-order {
  color: #ffffff;
  background-color: #293449;
  margin: 0;
  width: 150px;
  display: block;
  padding-top: 14px;
  padding-bottom: 13px;
  line-height: 17px;
  white-space: nowrap;
}

.get-order {
  padding-left: 20px;
  padding-right: 22px;
}

.navigation-list a:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.navigation-list a:focus,
.navigation-list a:active {
  color: #abacaf;
  background-color: #161d29;
}

.bookmark {
  position: relative;
  padding-left: 44px;
}

.bookmark::before {
  content: url("../img/icon-bookmark.svg");
  position: absolute;
  left: 17px;
  top: 12px;
  opacity: 0.3;
}

.bookmark:hover::before,
.bookmark:focus::before {
  opacity: 1;
}

.bookmark:active::before {
  opacity: 0.5;
}

.cart {
  position: relative;
  padding-left: 44px;
}

.cart::before {
  content: url("../img/icon-cart.svg");
  position: absolute;
  left: 18px;
  top: 12px;
  opacity: 0.3;
}

.cart:hover::before,
.cart:focus::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}

.get-order {
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
}

.get-order:hover {
  color: #ffffff;
  background-color: #5fbb2d;
}

.get-order:focus,
.get-order:active {
  color: #b6c8ae;
  background-color: #518534;
}

.header-container-2 {
  padding-bottom: 44px;
  width: 100%;
  background-color: #f2f6f8;
  padding-left: 20px;
}

.info-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 46px;
  padding-left: 53px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.online-store {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  color: #ee4b55;
  background-color: #f4f7f9;
  width: 196px;
  margin: -left: 183px;
  margin: 0;
  padding-bottom: 44px;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ee3643;
  background-color: #f3f7f9;
  border: 5px solid #ffffff;
  padding-left: 71px;
}

.phone-container {
  width: 270px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.phone-container a {
  font-size: 21px;
  line-height: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  color: #ee3643;
  box-shadow: inset 0 0 0 3px #ffffff;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 10px 11px;
}

.phone-address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  color: #32425c;
  background-color: #f3f7f9;
}

.user-navigation {
  list-style: none;
  width: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
}

.user-navigation {
  list-style: none;
}

.user-navigation li {
  text-align: center;
}

.user-navigation a {
  width: 121px;
  position: relative;
  padding-left: 14px;
}

.user-navigation svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.login-link:hover path {
  fill: #32425c;
}

.login-link:focus path,
.login-link:active path {
  fill: #c5c5c5;
}

.user-navigation a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.user-navigation a:focus,
.user-navigation a:active {
  color: #c5c5c5;
  background-color: #ffffff;
}

.registration-link a {
  width: 150px;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
}

.header-main-navigation {
  padding-bottom: 60px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.menu {
  list-style: none;
  width: 940px;
  margin: 0;
  padding: 0;
  background-color: #32425c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-navigation {
  display: block;
  padding: 21px 30px 22px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.menu a {
  color: #ffffff;
  background-color: #32425c;
}

.menu-navigation-left {
  padding-left: 51px;
  padding-right: 34px
}

.menu-navigation-right {
  padding-right: 51px;
  padding-left: 34px;
}

.menu a:hover {
  color: #ffffff;
  background-color: #293449;
}

.menu a:focus,
.menu a:active {
  color: #a1a4a8;
  background-color: #1d2739;
}

.main-offer-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 59px;
  padding-bottom: 53px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding-top: 19px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer-title {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 138px;
}

.offer-button {
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}

.offer-button:hover,
.offer-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offer:last-of-type {
  margin-bottom: 0;
}

.offer-item {
  position: relative;
}

.main-offer-materials {
  background-color: #ffbf47;
}

.main-offer-tools {
  background-color: #3bbce3;
}

.main-offer-technic {
  background-color: #dc91d8;
}

.main-offer-sale {
  background-color: #8ed78f;
}

.main-offer-delivery {
  background-color: #ffc047;
}

.main-offer-slider {
  flex-grow: 1;
  min-height: 266px;
  padding: 0;
  margin-bottom: 0;
  position: relative;
}

.main-materials-icon {
  width: 140px;
  height: 82px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.main-tools-icon {
  width: 140px;
  height: 82px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.main-technic-icon {
  width: 140px;
  height: 82px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.main-sale-icon {
  width: 140px;
  height: 82px;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.main-delivery-icon {
  width: 140px;
  height: 82px;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.offer-item .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.offer-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.slider-switches {
  position: absolute;
  margin-top: 220px;
  margin-left: 250px;
  display: flex;
  list-style: none;
  z-index: 10;
}

.slider-toggle {
  margin-right: 10px;
}

.main-slyder-container-1 {
  display: block;
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
  background-image: url("../img/slyder-1.jpg");
  background-repeat: no-repeat;
}

.slyder-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 20px;
  margin-left: 24px;
}

.slyder-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 24px;
  margin-bottom: 125px;
}

.button-info {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
  border: none;
}

.slyder-button {
  padding: 10px 50px 10px 50px;
  margin-left: 25px;
  margin-top: 306px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
  border: none;
}

.main-slyder-container-2 {
  display: none;
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
  background-image: url("../img/slyder-2.jpg");
  background-repeat: no-repeat;
}

.slide_active {
  display: block;
}

.slider-btn {
  position: absolute;
  top: 135px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-left: none;
  border-bottom: none;
  z-index: 10;
}

.slider-left-btn {
  left: 25px;
  top: 114px;
  transform: rotate(-135deg);
}

.slider-right-btn {
  right: 20px;
  top: 114px;
  transform: rotate(45deg);
}

.main-offer-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: 20px;
}

.popular-title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 24px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
}

.popular-button {
  margin: 0;
  padding-right: 55px;
  padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popular-title-block a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.main-popular-goods {
  width: 940px;
  margin: 0 auto;
}

.brand-logo-bosch {
  background-image: url("../img/bosch.png");
}

.brand-logo-makita {
  background-image: url("../img/makita.png");
}

.brand-logo-dewalt {
  background-image: url("../img/dewalt.png");
}

.brand-logo-interskol {
  background-image: url("../img/interskol.png");
}

.brand-logo-hitachi {
  background-image: url("../img/hitachi.png");
}

.brand-logo-lg {
  background-image: url("../img/lg.png");
}

.brand-logo-aeg {
  background-image: url("../img/aeg.png");
}

.brand-logo-metabo {
  background-image: url("../img/metabo.png");
}



.main-popular-goods li:nth-child(3n) {
  margin-right: 20px;
}

.main-popular-goods li:last-child {
  margin-right: 0;
}

.main-popular-producers {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 65px;
}
.main-brand-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -20px;

}

.brand-item {
  list-style-type: none;
}

.brand-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 20px;
}

.brand-logo {
  width: 218px;
  height: 143px;
  display: block;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  background-repeat: no-repeat;
  background-position: 50%;
}

.brand-item {
  margin-bottom: 20px;
}

.brand-logo:hover,
.brand-logo:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-logo:active {
  opacity: 0.3;
}

.brand-list-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.services-delivery {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #f4f8f9;
}

.service {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.delivery {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  background-color: #f4f8f9;
}



.company-section-container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.technomart-info {
  width: 540px;
  margin: 0;
  padding: 0;
}

.main-contacts {
  width: 300px;
  margin: 0;
  padding: 0;
}

.contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.main-contacts p {
  margin-bottom: 24px;
}

.main-contacts p:last-of-type {
  margin-bottom: 18px;
}

.transport-companies-list {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

.transport-companies-list li {
  list-style-type: none;
}

.transport-companies-list li:before {
  content: "—";
  color: #ee3643;
  font-size: 26px;
}

.main-contacts p {
  margin-bottom: 30px;
}

.map-contacts {
  margin-bottom: 28px;
}

.technomart-info {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.about-us h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.transport-companies-list {
  font-size: 18px;
  line-height: 20px;
}

.transport-companies-list {
  list-style: none;
}

.company-info-link {
  font-size: 14px;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.company-info-link:hover {
  color: #ffffff;
  background-color: #ca2c37;
}

.main-footer {
  background-color: #32425c;
}

.footer-container-1 {
  width: 100%;
  background-color: #32425c;
}

.footer-container-2 {
  width: 100%;
  background-color: #293449;
}

.footer-information {
  font-size: 18px;
  line-height: 24px;
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-block {
  width: 220px;
  height: 68px;
  text-align: center;
  box-shadow: inset 0 -5px 0 #b52933;
}

.footer-logo-block img {
  padding-top: 21px;
}

.main-logo-footer,
.main-logo-index-footer {
  color: #ffffff;
  background-color: #ee3643;
}

.main-logo-footer:hover {
  color: #f5d7d9;
  background-color: #ca2c37;
}

.main-logo-footer:focus,
.main-logo-footer:active {
  color: #e3a6ab;
  background-color: #ba2732;
}

.footer-list,
.footer-items {
  list-style: none;
}

.footer-list a {
  color: #ffffff;
  background-color: #32425c;
}

.footer-phone {
  color: #ffffff;
  background-color: #32425c;
}

.footer-items a {
  color: #e0ba79;
  background-color: #32425c;
}

.footer-list {
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
  width: 720px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-list a:hover,
.footer-items a:hover {
  text-decoration: underline;
}

.footer-list a:focus,
.footer-list a:active {
  color: #a4abb4;
  background-color: #32425c;
}

.footer-items a:focus,
.footer-items a:active {
  color: #8c7d69;
  background-color: #32425c;
}

.footer-contakts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  width: 350px;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 48px;
}

.footer-items {
  width: 590px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer-list li {
  display: inline-block;
  margin-left: 60px;
  margin-top: 37px;
}

.footer-items li {
  display: inline-block;
  margin-left: 60px;
  margin-top: 30px;
}

.footer-copyright-text {
  font-size: 16px;
  color: #ffffff;
  background-color: #293449;
  width: 240px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  padding-top: 35px;
  padding-bottom: 36px;
}

.footer-social-list {
  list-style: none;
}

.footer-social {
  width: 150px;
  list-style: none;
  padding: 0;
  margin-left: 30px;
  display: flex;
  width: 141px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.vk-button,
.facebook-button,
.instagram-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #212a3a;
  border-radius: 50%;
}

.vk-button {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.facebook-button {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instagram-button {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-list a {
  color: #ffffff;
  background-color: #212a3a;
}

.social-item a:hover,
.social-item a:focus,
.social-item a:active {
  color: #ffffff;
  background-color: #ee3643;
}

.footer-feedback-container {
  width: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-feedback {
  width: 140px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 36px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-developed {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 110px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 36px;
}

.feedback,
.developed {
  color: #ffd180;
  background-color: #293449;
}

.feedback:hover,
.developed:hover {
  text-decoration: underline;
}

.feedback:focus,
.feedback:active,
.developed:focus,
.developed:active {
  color: #ee3643;
  background-color: #293449;
}

.write-us {
  font-size: 18px;
}

.write-us input::placeholder,
.write-us textarea::placeholder {
  font-size: 13px;
  color: #a9a9a9;
}

.write-us input,
.write-us textarea {
  color: #000000;
  border: 2px solid #dee3e4;
  background-color: transparent;
}

.write-us input:hover,
.write-us textarea:hover {
  color: #000000;
  border: 2px solid #b5b5b5;
  background-color: #ffffff;
}

.write-us input:focus,
.write-us input:active,
.write-us textarea:focus,
.write-us textarea:active {
  color: #000000;
  outline: none;
  border: 2px solid #ee3643;
  background-color: #ffffff;
}

/*------------------Базовые стили catalog------------------*/
.header-user {
  font-size: 16px;
  color: #000000;
  background-color: #f1f5f7;
}

.header-user-name {
  font-size: 21px;
  line-height: 21px;
  color: inherit;
  background-color: #ffffff;
}

.header-user a:hover {
  color: #000000;
  background-color: #ffffff;
}

.header-user a:focus,
.header-user a:active {
  color: #c5c5c5;
  background-color: #ffffff;
}

.user-container {
  width: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 75px;
}

.user-navigation-login a {
  color: #000000;
  background-color: #ffffff;
}

.user-navigation-login {
  width: 299px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation-login,
.user-login-link {
  list-style: none;
}

.user-login-link {
  width: 233px;
  margin: 0;
  padding: 0;
}

.user-logout-link {
  width: 39px;
  height: 45px;
  margin: 0;
  padding: 0;
}

.user-login-link a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 11px;
  position: relative;
  padding-left: 47px;
}

.user-login-link svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.user-logout-link {
  position: relative;
}

.user-logout-link svg {
  position: absolute;
  bottom: 14px;
  right: 10px;
}

.login-link:hover path,
.login-link:focus path {
  fill: #32425c;
}

.login-link:active path {
  fill: #c5c5c5;
}

.login-link:active span {
  opacity: 0.3;
}

.logout-link:hover path,
.logout-link:focus path {
  fill: #32425c;
}

.logout-link:active path {
  fill: #c5c5c5;
}

.container {
  width: 100%;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 300px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  list-style: none;
}

.user-menu li {
  position: relative;
}

.user-menu li::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 5px;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-menu li:first-child::after {
  display: none;
}

.user-menu a {
  color: #32425c;
  background-color: #f1f5f7;
  display: inline-block;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 7px;
  margin-left: 18px;
}

.user-menu a:first-child {
  margin-right: 10px;
}

.user-menu span {
  display: inline-block;
  opacity: 1;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  margin-right: -10px;
}

.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}

.user-menu a:active {
  color: #32425c;
  opacity: 0.3;
}

.personal-account {
  padding-left: 10px;
}

.breadcrumbs {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.breadcrumbs {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 41px;
}

.breadcrumbs a::after {
  content: url("../img/icon-right-small.svg");
  position: absolute;
  top: 2px;
  right: -25px;
}

.breadcrumbs a {
  color: #000000;
  background-color: #ffffff;
}

.breadcrumbs img {
  vertical-align: middle;
}

.contener-title {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.perforator {
  margin: 0;
  padding: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.filters {
  width: 220px;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.filter-range-container {
  height: 80px;
  margin-bottom: 9px;
  background-color: #f7f3ec;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-range-scale {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
  position: relative;
}

.range-scale-selected {
  width: 150px;
  height: 2px;
  background-color: #00ca74;
}

.range-scale-min {
  position: absolute;
  width: 20px;
  height: 23px;
  top: -10px;
  left: 0;
  background-image: url("../img/filter-button.svg");
}

.range-scale-max {
  position: absolute;
  width: 20px;
  height: 23px;
  top: -10px;
  left: 140px;
  background-image: url("../img/filter-button.svg");
}

.range-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.range-input-container input {
  box-sizing: border-box;
  width: 95px;
  padding: 10px 10px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  outline: none;
  border-radius: 2px;
}

.range-input-container p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.filters hr {
  margin: 0;
  margin-bottom: 16px;
  color: #e5e5e5;
  background-color: #e5e5e5;
  border: 0px none;
  height: 1px;
}

.filter legend {
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 30px;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  border: none;
}

.filter fieldset:last-of-type {
  margin-bottom: 57px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.filter {
  margin-bottom: 19px;
  padding-left: 35px;
}

.manufacturer {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.tool-manufacturers,
.manufacturer-item,
.buttery-list {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-list {
  color: #000000;
  background-color: #ffffff;
}

.checkbox-list {
  list-style: none;
}

.supply {
  color: #000000;
  background-color: #ffffff;
}

.buttery-list {
  list-style: none;
}

.show {
  font-size: 13px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  outline: none;
}

.catolog-sort {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}

.sort-item:first-of-type {
  margin-right: 66px;
}

.sort-item:nth-of-type(2) {
  margin-right: 62px;
}

.at-the-price {
  color: #ee3643;
  opacity: 1.0;
  border-bottom: none;
}

.sort-item a {
  color: #cacaca;
  background-color: inherit;
  border-bottom: 1px dotted #ee3643;
  width: 460px;
  position: relative;
}

.sort-item a:hover {
  color: #000000;
  background-color: inherit;
  border-bottom: 1px solid #ee3643;
}

.sort-item a:focus,
.sort-item a:active {
  color: #ee3643;
  background-color: inherit;
}

.icon-up-dir {
  position: absolute;
  right: 49px;
  top: 0;
}

.icon-down-dir {
  position: absolute;
  right: 17px;
  top: 0;
}

.icon-dir-selected path {
  fill: #ee3643;
}

.icon-up-dir:hover path,
.icon-up-dir:focus path,
.icon-down-dir:hover path,
.icon-down-dir:focus path {
  fill: #231f20;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.catalog-list::after {
  content: "";
  display: flex;
  flex-grow: 1;
}

.catalog-list li {
  width: 218px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.catalog-item {
  border: 1px solid #e5e5e5;
}

.catalog-list li:nth-child(3n) {
  margin-right: 0;
}

.catalog-list {
  list-style: none;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 59px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 45px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item,
.sort-list {
  list-style: none;
}

.price {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.last-price {
  order: 3;
  color: #999999;
  background-color: #ffffff;
  text-decoration: line-through;
  margin-top: 0;
  margin-bottom: 8px;
  min-height: 18px;
}

.current {
  order: 4;
  color: #ffffff;
  background-color: #ee3643;
  position: relative;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 11px 30px;
  border-radius: 3px;
}

.last-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.catalog-item .buy,
.catalog-item .bin-the-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .bin-the-bookmark {
  color: #32425c;
  background: #ffffff;
  border-bottom-color: #63a63e;
}

.catalog-item .buy {
  position: relative;
}

.catalog-item .buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 13px;
  top: 8px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-item .buy:hover::before,
.catalog-item .buy:focus::before {
  opacity: 1;
}

.catalog-item .buy:active::before {
  opacity: 1;
}

.buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
  border-radius: 3px;
}

.buy:focus,
.buy:active {
  background-color: #518534;
  border: 3px solid #518534;
  border-bottom-color: #518534;
  border-radius: 3px;
}

.bin-the-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  outline: none;
}

.bin-the-bookmark:hover {
  color: #32425c;
  background: white;
  border-color: #32425c;
}

.bin-the-bookmark:focus,
.bin-the-bookmark:active {
  color: #32425c;
  background: white;
  border-color: #32425c;
  opacity: 0.3;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  order: 1;
  width: 218px;
  height: 170px;
}

.catalog-item img {
  max-width: 100%;
}

.catalog-item h3 {
  order: 2;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  padding: 0 25px;
  margin-top: 5px;
  margin-bottom: 13px;
}

.page {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f6f8;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.page {
  list-style: none;
}

.page a {
  color: #000000;
  background-color: #ffffff;
}

.page-active-item {
  color: #ffffff;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}

.page-item {
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  display: block;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 36px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
}

.page-item:last-child {
  margin-right: 0;
}

.page-item:hover {
  border: 1px solid #bdc6ca;
}

.page-item:focus,
.page-item:active {
  border: 1px solid #ee3643;
}

.services-delivery {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f6f8;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.information-container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 54px;
}

.page-item-word a {
  width: auto;
  padding-left: 31px;
  padding-right: 31px;
}

.shopping {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.shopping h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.shopping-list {
  color: #ffffff;
  background-color: #f1f1f1;
}

.shopping-item {
  list-style: none;
}

.сontinue-shopping {
  color: #000000;
  background-color: #ffffff;
  border: none;
}
