body {
  margin: 0;
  font-family: "Cuprum", "PT Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.main-header {
  color: #ffffff;
  background-color: #f4f7f9;
  background-image: url("img/header top background.svg");
  background-position: 0 0;
  background-repeat: repeat;
}

.header-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-logo-header {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ee3643;
}

.main-logo-header a:hover {
  color: #f5d7d9;
  background-color: #ca2c37;
}

.main-logo-header a:focus,
.main-logo-header a:active {
  color: #e3a6ab;
  background-color: #ba2732;
}

.form-search{
  border: none;
  color: #ffffff;
  background-color: #293449;
}

.navigation-list a,
.get-order {
  color: #ffffff;
}

.form-search:hover,
.navigation-list a:hover {
  color: #afb1b5;
  background-color: #212a3a;
}

.navigation-list a:focus,
.navigation-list a:active {
  color: #606369;
  background-color: #161d29;
}

.get-order:hover {
  color: #ffffff;
  background-color: #5fbb2d;
}

.get-order:focus,
.get-order:active {
  color: #b6c8ae;
  background-color: #518534;
}

.online-store {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  color: #ee4b55;
  background-color: #f4f7f9;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  background-color: #f3f7f9;
  border: 5px solid #ffffff;
}

.phone-navigation {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  background-color: #f4f7f9;
}

.user-navigation {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #f4f7f9;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  color: #000000;
  background-color: #ffffff;
}

.user-navigation a:hover {
  color: #f05e67;
  background-color: #ffffff;
}

.user-navigation a:focus,
.user-navigation a:active {
  color: #cecece;
  background-color: #ffffff;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.menu {
  list-style: none;
}

.menu a {
  color: #ffffff;
  background-color: #32425c;
}

.menu a:hover {
  color: #ffffff;
  background-color: #293449;
}

.menu a:focus,
.menu a:active {
  color: #a8abaf;
  background-color: #1d2739;
}

.technomart-info {
  font-family: "Cuprum";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.technomart-info h2 {
  font-size: 30px;
  line-height: 30px;
}

.transport-companies-list {
  font-size: 18px;
  line-height: 20px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.index-columns {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.main-logo-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ee3643;
}

.footer-list,
.footer-items {
  list-style: none;
}

.footer-list a {
  color: #ffffff;
  background-color: #32425c;
}

.footer-items a {
  color: #e0ba79;
  background-color: #32425c;
}

.footer-list a:hover,
.footer-items a:hover {
  text-decoration: underline;
}

.footer-list a:focus,
.footer-list a:active {
  color: #a4abb4;
  background-color: #32425c;
}

.footer-items a:focus,
.footer-items a:active {
  color: #8c7d69;
  background-color: #32425c;
}

.footer-copyright-text {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-social-list {
text-align: center;
}

.feedback,
.developed {
  color: #ffd180;
  background-color: #293449;
}

.feedback:hover,
.developed:hover {
  text-decoration: underline;
}

.feedback:focus,
.feedback:active,
.developed:focus,
.developed:active {
  color: #ee3643;
  background-color: #293449;
}

.write-user {
  font-size: 18px;
  line-height: 18px;
}

.username,
.email,
.writing {
  font-size: 13px;
  line-height: 18px;
}

.write-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
